# Ambiente
.env
.env.*
!.env.example
history.json
.json

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtualenvs
venv/
.venv/
env/
.env/

# Build
*.log
build/
dist/
*.egg
*.egg-info/
